
  .container{
    display: flex;

    position: absolute;
    left: 600px;
    top: 300px;
  }
  .Divs {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    background-color: red;
    margin-right: 50px;
  }
  


  .animation1 {
    animation-name: example1;
    animation-duration: 4s;
}


@keyframes example1 {
        from{

        }
        to{
            
                box-shadow: 0 0 50px black;
                transform: scale(1.3);

            
        }
                
        }
    



 
  